


/* стили валидации */

.j-top-line {
	
	background-color: #232323;
	height: 52px;
	width: 100%;

}

body {
	
	background-image: none;
	background-color: #e6e1e5;

}

.j-form {
	
	margin: auto;
	max-width: 600px;
	/*outline: 1px solid #000;*/

}
.j-form * {
	box-sizing: border-box;
}

.j-form__el {
	
	margin: 0 0 20px 0;
	max-width: 600px;
	position: relative;
	
	outline: 1px solid #000;
	
}

.j-form__el.req:before {
	
	content: "*";
	position: absolute;
	top: -3px;
	left: -10px;
	font-size: 18px;
	font-weight: bold;
	color: #d83a4d;

}

.j-form__el .fa-question-circle-o {
	
	position: absolute;
	top: -5px;
	right: -18px;
	
	font-size: 16px;
	color: #259602;

}

.j-form__el input[type="text"], 
.j-form__el input[type="tel"],
.j-form__el input[type="email"],
.j-form__el input[type="password"],
.j-form__el select {
	
	border: 1px solid #a1a0a0;

	outline: none;
	height: 42px;
	width: 100%;
	
	-moz-transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    transition: border 0.2s linear;
	
	padding: 0 10px;

}

.j-form__el input.j-input_activ-no-valid {
	
	border: 1px solid #fa384f;
	    
}
.j-form__el input.j-input_activ-valid {
	
	border: 1px solid green;
	    
}

/* всплывающие подсказки */

.j-ttip {

	position: relative; 
	display: block;

	text-decoration: none;
	cursor: help;
	outline: none;
	
	position: absolute;
	right: 0;
	top: 50px;

	z-index: 98; 
	
	max-width: 220px;
	padding: 10px;
	
}


.j-ttip_help {

	color: #fff;
	
	background-color: #449d48; 
	
	opacity: .98;

	font-size: 12px;
	
	-webkit-box-shadow: 0 0 3px 0 #787878;
	box-shadow: 0 0 3px 0 #787878;
	
}


.j-ttip:after {
	content: ''; 

	
	
	border-bottom: 0;
	
	position: absolute; 
	z-index: 99; 
	
}

.j-ttip_help:after {
	
	margin-left: -8px;
	top: -8px;
	right: 10%;
	border-bottom: 8px solid #449d48;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

}

.j-ttip_critic {

	background-color: #ff5e5e;
	
	color: #fff;
	
	opacity: .98;

	font-size: 12px;
	
	-webkit-box-shadow: 0 0 3px 0 #787878;
	box-shadow: 0 0 3px 0 #787878;
	
}
.j-ttip_critic:after {

	margin-left: -8px;
	top: -8px;
	right: 10%;
	border-bottom: 8px solid #ff5e5e;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
}


.j-ttip_warning {
	
}

.j-ttip_info {
	
}