


/* стили валидации */

body {
	
	background-image: none;
	background-color: #e6e1e5;

}

.j-form {
	
	margin: auto;
	max-width: 600px;
	/*outline: 1px solid #000;*/

}
.j-form * {
	box-sizing: border-box;
}

.j-form__el {
	
	margin: 0 0 20px 0;
	max-width: 600px;
	position: relative;
	
}

.j-form__el input[type="text"], 
.j-form__el input[type="tel"],
.j-form__el input[type="email"],
.j-form__el input[type="password"],
.j-form__el select {
	
	border: 1px solid #a1a0a0;

	outline: none;
	height: 42px;
	width: 100%;
	
	-moz-transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    transition: border 0.2s linear;

}

.j-form__el input.j-input_activ-no-valid {
	
	border: 1px solid #fa384f;
	    
}


/* всплывающие подсказки */

.j-tooltip {

	position: relative; 
	display: block;
/*	background: #eaeaea;
	color: #222;*/
	text-decoration: none;
	cursor: help;
	outline: none;
	

/*	background: url(../img/ico-tooltip.png) no-repeat;*/
	background-size: 100% 100%;
	
	position: absolute;
	right: -28px;
	top: 9px;

	height: 22px;
	width: 22px;
	
}

.j-tooltip span {
	position: absolute; /* позиционируем */
	z-index: 999; /* выдвигаем на передний план */
	visibility: hidden; /* временно скрываем */
	left: 50%;
	bottom: 30px;
	width: 230px;
	padding: 10px;
	margin-left: -127px;
	border: 2px solid #ccc;
	background-color: #ddd; 
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
	opacity: .9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.j-tooltip:hover{
	border: 0; /* используем если необходим IE6 fix */
}

.j-tooltip:hover span{
	visibility: visible; /* отображаем подсказку */
}

.j-tooltip span:before,
.j-tooltip span:after{
	content: ""; /* во избежание коллапса */
	position: absolute; /* позиционируем */
	z-index: 1000; /* на 1 больше */
	bottom: -7px;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid #ddd;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
}

.j-tooltip span:before{
	border-top-color: #ccc;
	bottom: -8px;
}

.green-tooltip span{
	color: #fff;
	border-color: #228b22;
	background-color: #008000;
}
.green-tooltip span:after{
	border-top-color: #008000;
}
.green-tooltip span:before{
	border-top-color: #228b22;
}